$tablet-width: 768px;
$desktop-width: 1024px;


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

p {
  font-size: 12px;
  background-color:#9933FF;
 

  @include tablet {
    font-size: 18px;
	background-color:#FF0066;
  }

  @include desktop {
    font-size: 26px;
	background-color:#009933;
  }
}